.header {
    background-color: #e23e3e;
    height: 230px;
}

.header main {
    align-items: center;
    justify-content: center;
    display: flex;
}

.header main nav {
    display: inline-flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.header main nav li {
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding:15px 10px;
    border: black 2px solid;
    list-style: none;
    font-size: 30px;
    text-align:center;
    background-color: white;
}


.header .searchBar form input{
    position:right;
    font-size: 26px;
    flex-direction: row;
    height: 28px;
    border:black solid 2px;
    margin-right: 20px;

}



